
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= reply.user.first_name %>:</strong>
        </p>
        <p><% if (reply.updated_at - reply.created_at) > 1 %>
          Edited <%= time_ago_in_words(reply.updated_at) %> ago 
        </p>
        <% else %>
          <p> Posted <%= time_ago_in_words(reply.created_at) %> ago </p>
        <% end %>
      </div>
    </div>
    <br />
    <%= reply.content %>
    <br />
    <br />
    <% if current_user && current_user == reply.user %>
      <%= button_to 'Delete', [reply.post, reply], method: :delete, class: "button is-danger", data: { confirm: 'Last chance to go back before fully deleted ?'}, style: "background-color: #39023A; color: #ffffff; padding: 3px 25px; text-decoration: none; border-radius: 5px;" %>
    <% end %>
  </article>
  <hr />

</div>