<div class="container" id="<%= dom_id event %>">
  <div style="width: 100%; max-width: 98rem; padding: 2rem 5rem; background-color: #F2F2F2; box-shadow: 0 0 8px 3px rgba(0,0,0,.3); display: flex; align-items: center; border-radius: .8rem; margin: 3% 0%;">

    <div class="display-img">
      <% if event.image?%>
        <div >
          <img src= "<%= event.image  %>" style="height: 13rem; max-width: 15rem; min-width: 15rem; padding: 3%; transform: translateX(-2rem); border-radius: 0.5rem; box-shadow: 0 0 8px 3px rgba(0,0,0,.3);" >
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Title:</strong>
        <%= event.title %>
      </div>

      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Posted by:</strong>
        <%= event.user.first_name %>
      </div>

      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Date:</strong>
        <%= event.date %>
      </div>

      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Time:</strong>
        <%= event.time %>
      </div>

      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Location:</strong>
        <%= event.location %>
      </div>

      <div class="col-6" style="margin-bottom: 1rem;">
        <strong>Limit:</strong>
        <%= event.limit %>
      </div>

      <div class="col-12" style="margin-bottom: 1rem;">
        <strong>Description:</strong>
        <%= event.description %>
      </div>


      <%= button_to uprsvp_label(event, current_user), rsvp_event_path(event, type: :uprsvp), method: :patch, style: uprsvp_label_styles(event, current_user) %>
      <br />
      <br />
      <strong>Attendees: <%= event.cached_votes_total %> </strong>
      
    </div>
  </div>
  <br />
  <br />
</div>
