
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <div>
      <% if event.image?%>
        <img src= "<%= event.image %>" style="height: 50vh; width: 60vh; margin: 2%;" ><br />
      <% end %>
      <%= f.file_field :image %>
    </div>
    <br />

    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :limit %>
    <%= f.input :attendees %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, style: "background-color: #39023A; color: #ffffff; padding: 8px 30px; text-decoration: none; float: right; margin-top: 10%;" %>
  </div>
<% end %>
