<div class="main-container sign-up-text">
  <h2 class="sign-in", style="  text-align: center;
  font-weight: 400;">BChainChat</h2>
  <h5 class="sign-in-sub-title", style="  width: 30%;
  margin: 3% 35% 6% 35%;">Login and  start exploring the amazing world of Blockchain!</h5>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-control", style="width: 60%; margin-left: 20%;">

      <div class="field", style="width: 68%; margin-left: 15%; margin-top: 10%;">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class: "form-control py-2" %>
      </div>

      <div class="field", style="width: 68%; margin-left: 15%; margin-top: 5%;">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "form-control py-2" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign in", data:{turbo: false}, style: "background-color: #39023A; color: #ffffff; padding: 8px 40px; text-decoration: none; border-radius: 8px; margin: 5% 0% 10% 40%;"%>
      </div>
    </div>
  <% end %>
  <br />
</div>