<div class="container">


      <div class="row ">
        <div class="col-8 ">

          <%= form_with(model: post) do |form| %>
            <% if post.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                  <% post.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="row" style="width: 100%; max-width: 98rem; padding: 0rem 3rem; background-color: #F2F2F2; box-shadow: 0 0 8px 3px rgba(0,0,0,.3);  align-items: center; border-radius: .8rem; margin: 3% 0%;">

              <div class="col-md-12", style="margin-top: 6%;">
                <% if post.image?%>
                  <img src= "<%= post.image %>" style="height: 200px; width: 230px; margin: 0;" >
                <% end %>
                <br />
                <br />
                <%= form.file_field :image %>
              <div>

              <div class="col-md-12", style="margin-top: 8%;">
                <%= form.date_field :post_date, value:Date.today.to_s, style: "display: none" %>
              </div>
            
              <div class="col-md-12 ", style="margin: 5% 0% 5% 0%; ">
                <%= form.text_area :comment, style:"width: 100%; max-width: 98rem; padding: 2rem 1rem 5rem 1rem; background-color: #F2F2F2; box-shadow: 0 0 8px 3px rgba(0,0,0,.3); align-items: center; border-radius: .8rem; margin: 3% 0%;" %>
              </div>
            </div>

            <div style="margin-bottom: 15%;">
              <%= form.submit %>
            </div>
          <% end %>
        </div>
      </div>

</div> 

