<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user, style: "display: none" %>
    <%= form.text_field :user, value:current_user.email, style: "display: none" %>
  </div>

  <div>
    <%= form.label :post_date, style: "display: none" %>
    <%= form.date_field :post_date, value:Date.today.to_s, style: "display: none" %>
  </div>

  <div>
    <%= form.label :comment, style: "display: none" %>
    <%= form.text_area :comment %>
  </div>

  <br />
  <div>
    <%= form.label :image, style: "display: none" %>
    <%= form.file_field :image %>
    <% if post.image?%>
      <img src= "<%= post.image %>" style="height: 200px; width: 230px; margin: 0;" >
    <% end %>
  </div>

  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>

