<div class="container">
  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>

      <strong><%= post.replies.count %> Replies</strong>
      <p>
        <div class="row">
          <div class="col">
            <%= link_to "Show this post", post, method: :post, style: "background-color: #39023A; color: #ffffff; padding: 8px; text-decoration: none;" %>
          </div>

          <% if current_user.email == post.user %>
            <div class="col">
              <%= link_to "Edit Post", edit_post_path(post), style: "background-color: #39023A; color: #ffffff; padding: 8px; text-decoration: none;" %> 
            </div>
            
            <div class="col">
              <%= button_to "Delete", post, method: :delete, style: "background-color: #39023A; color: #ffffff;" %>
            </div>
          <% end %>
        </div>
        <hr />
      </p>
    <% end %>
    <br />

    <div class="row">
      <div class="col">
        <%= link_to "New post", new_post_path, style: "background-color: #39023A; color: #ffffff; padding: 10px 30px; text-decoration: none;" %>
      </div>
    </div>
  </div>
  <br />
</div>